changelog.md
/eden

# envs
payload.json
forgejo.env

# makedeb stuff
/install
/makedeb*
/PKGBUILD
/.SRCINFO
*.deb
/src
/pkg

/.vscode

# linux package
uruntime2appimage*
quick-sharun*

/*.json
/private
/artifacts